body {
  background-color: red;
}

.number{
  background-color: green;
  width: 100px;
  text-align: center;
  font-size: 150px;
  font-weight: bolder;
  padding-top: 10px;
  border-radius: 10px;
}

#first, #second, #third {
  display: inline-flex;
  margin: 20px;
  width: 500px;
}

#message {
  height: 100%;
  width: 1200px;
  background-color: yellowgreen;
  border-radius: 50px;
  margin: 20px;
}

.highlight {
  background-color: blue;
}

.container {
  text-align: center;
}

.button {
  text-align: -webkit-center;
}
